
h1{ text-align: center; color: black; text-transform: uppercase;}
h2{text-align: center; color: black;}
main{text-align: center;}
body{ background-color: cadetblue;}
#primera-estrofa{color: yellow;}
#segunda-estrofa{color: blue;}
#tercera-estrofa{color: red;}
#cuarta-estrofa{color: yellow;}
#quinta-estrofa{color: blue;}
#sexta-estrofa{color: red;}
#septima-estrofa{color: yellow;}
#octava-estrofa{color: blue;}
#novena-estrofa{color: red;}
#decima-estrofa{color: yellow;}
#undecima-estrofa{color: blue;}
