h1{ text-align: center; color:black ; text-transform: uppercase;}
/* selecciòn mediante la etiqueta p{color: greenyellow;} */
#parrafo1 { color: yellow;}
#parrafo2 {color: orange;}
#parrafo3 {color: beige;}
body{background-color: gray;}
.transformar-texto-en-mayuscula{text-transform: uppercase;}